<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" action='/posts' method='POST'>
      <h1>Posts</h1>
      <form class="form-inline" action='/posts' method='post'>
        <label class="sr-only" for="number">Number</label>
        <input name='post[number]' type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="number" placeholder="Number">
      
        <label class="sr-only" for="amount">Amount</label>
        <input name='post[amount]' type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="amount" placeholder="Amount">
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>      
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% posts.each do |post| %>
            <tr>
              <td><%=post.id%></td>
              <td><%=post.number%></td>
              <td><%="%.2f" % post.amount%></td>
              <td>
                <% if post.status == 'POSTED' %>
                  <span class="badge badge-default">POSTED</span>
                <% else %>
                  <span class="badge badge-success">SUCCESS</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>